#base {
    height: 400vh;
    transform: translate3d(0px, 0px, 0px);
    transition: all 750ms ease 0s;
}

div, #header-navigation-bar, .section, .header-navigation-bar {
    width: 100%;
}

#navigator {
    position: fixed;
    z-index: 100;
    top: 25%;
    padding-left: 5%;
}

#section-one-background {
    background-color: white;
    display: grid;
    grid-template-columns: 0.5fr repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

#section-one-content {
    grid-area: 2 / 2 / 6 / 3;
    height: 75%;
    align-items: center;
    justify-content: center;
}

#section-one-content-two {
    grid-area: 2 / 3 / 6 / 4;
    height: 75%;
    align-items: center;
    justify-content: center;
}

#sectionTwo {
    background-color: rgb(39, 145, 231);
}

#sectionThree {
    background-color: rgb(248, 71, 71);
}

#sectionFour {
    background-color: rgb(94, 252, 80);
}

#header-navigation-bar{
    grid-area: 1 / 1 / 2 / 6;
    height: 25%;
    align-items: center;
}

.flex-container {
    display: flex;
}

.section {
    height: 25%; 
    align-items: center;
    justify-content: center;
}

.navegador-lateral-li {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    color: red;
}

.flex-container {
    margin: 2.5%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: normal;
    align-content: center;
  }
  
  .flex-container li {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    height: 100%;
    width: 10%;
  }
  
  

body {
    overflow: hidden;
    margin: 0%;
}

h1 {
    color: brown;
    align-self: center;
    text-align: center;
    font-size: 9rem;
}

ul{
    padding: 0%;
}